DB_USER=postgres
DB_PASS=your_db_password
DB_NAME=SupportPulse_db

JWT_KEY=your_secure_jwt_key

GROQ_API_KEY=your_groq_api_key
HF_API_KEY=your_huggingface_api_key

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=your_minio_password
MINIO_USER=minioadmin
MINIO_PASS=your_minio_password

AWS_REGION=ap-south-1
AWS_BUCKET_NAME=support-pulse-files
